<script></script>
<template>
  <header class="fixed top-0 inset-x-0 z-10 h-38">
    <div class="w-full bg-[#1f2937]">
      <div
        id="logo-bar"
        class="flex gap-8 justify-center items-center pt-4 pb-4"
      >
        <img
          class="w-20 h-20"
          src="/assets/images/logos/logo_wtf_cards_transparent.png"
          alt="#"
        />
        <span
          class="text-white flex items-center text-4xl h-20"
          style="font-family: 'Lobster Two', cursive"
          >présente</span
        >
        <img
          class="w-20 h-20"
          src="/assets/images/logos/logo_wtf_pets_transparent.png"
          alt=""
        />
      </div>
      <nav class="bg-[#101827]">
        <ul
          class="flex flex-wrap justify-evenly items-center gap-4 text-gray-500 h-10"
        >
          <li>
            <a href="#" class="text-white">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="w-6 h-6"
              >
                <path
                  d="M5.566 4.657A4.505 4.505 0 0 1 6.75 4.5h10.5c.41 0 .806.055 1.183.157A3 3 0 0 0 15.75 3h-7.5a3 3 0 0 0-2.684 1.657ZM2.25 12a3 3 0 0 1 3-3h13.5a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5.25a3 3 0 0 1-3-3v-6ZM5.25 7.5c-.41 0-.806.055-1.184.157A3 3 0 0 1 6.75 6h10.5a3 3 0 0 1 2.683 1.657A4.505 4.505 0 0 0 18.75 7.5H5.25Z"
                />
              </svg>
            </a>
          </li>
          <li>
            <a class="flex flex-wrap items-center" href="#">
              <span class="pl-1">Date</span>
            </a>
          </li>
          <li>
            <a href="#">Rating</a>
          </li>
          <li>
            <a href="#">Attaque</a>
          </li>
          <li>
            <a href="#">Défense</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>
