.dynamic-fonts {
    font-family: 'Lobster Two', cursive;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #eb4899;
}

#logo-bar {
    background-color: #202938;
}

.nav-bar-bg {
    background-color: #101828;
}