<script setup>
import { RouterView } from "vue-router";
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";
</script>

<template>
  <div class="min-h-screen relative">
    <Header />
    <RouterView class="pt-[152px] pb-24" />
    <Footer />
  </div>
</template>
